{% extends "layout.html" %}
{% block content%}
        <article class="media content-section">
          <img class="rounded-circle article-img", src="{{ url_for('static', filename='profile_pics/'+ innate.innate_owner_id.image_file)}}">
            <div class="media-body">
              <div class="article-metadata">
                <a class="mr-2" href="#">{{innate.title }}</a>
                {%if innate.innate_owner_id == current_user%}
                    <div>
                        <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{url_for('update_innate', innate_id=innate.id)}}">Update Innate</a>
                        <button typ="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Delete Innate</button>
                    </div>
                {%endif%}
              </div>
              <h2 class="article-title">{{ innate.n_owner_id }}</h2>
              <p class="article-content">{{innate.innated}}</p>
            </div>
        </article>
        <!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Warning!</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            Are you sure that you want to delete this Innate?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
          <form action="{{url_for('delete_innate', innate_id=innate.id)}}" method="POST">
              <input class="btn btn-danger" type="submit" value="Delete Innate">
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}